.mobile {
  display: none !important;
}

@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  .mobile {
    display: flex !important;
  }
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  .no-mobile {
    display: none !important;
  }
}
html {
  height: 100%;
  overflow: hidden;
}
html body {
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  background: #1f1f1f;
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior: smooth;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body {
    scroll-snap-type: none;
  }
}
html body a {
  color: #cafffb;
  text-decoration: none;
}
html body a:hover {
  text-decoration: underline;
}
html body .impressum-container {
  display: inline;
  width: 60%;
  min-width: 400px;
  padding: 1rem;
}
html body .section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .section {
    padding: 0 2rem;
  }
}
html body .section .profile-container {
  text-align: center;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  padding: 4% 1rem 0;
  height: 100%;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .section .profile-container {
    margin: auto 0;
    height: fit-content;
  }
}
@media only screen and (max-height: 800px) {
  html body .section .profile-container {
    padding: 1rem;
  }
}
html body .section .profile-container .image-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .section .profile-container .image-container {
    width: 80%;
  }
}
html body .section .profile-container .image-container #profile-pic {
  width: 100%;
  height: 100%;
  max-width: 400px;
  border-radius: 50%;
}
html body .section .profile-container .name {
  margin: 1vh 0;
  padding: 0;
  font-size: 2.2rem;
}
html body .section .profile-container .information-box .information-element {
  font-size: 1.4rem;
  padding: 0 0 0.5rem 0;
}
html body .section .profile-container .information-box .information-element img {
  width: 1.8rem;
  margin: 0 4px 0 0;
  padding: 0 2px 4px;
}
html body .section .profile-container .information-box .information-element a {
  color: white;
  text-decoration: none;
}
html body .section .profile-container hr {
  margin: 1vh 0;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .section .profile-container hr {
    margin: 2vh 0;
  }
}
html body .section .profile-container .social-media-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
html body .section .profile-container .social-media-row img {
  height: 4rem;
  width: 4rem;
  fill: white;
}
html body .section .profile-container .social-media-row img:hover {
  border: transparent 2px solid;
}
html body .section .projects-link {
  margin: 2%;
}
@media only screen and (max-height: 800px) {
  html body .section .projects-link {
    display: none;
  }
}
html body .section .footer {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 1%;
}
html body .projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .projects {
    padding: 0;
  }
}
html body .projects .projects-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
html body .projects .projects-content .project {
  text-align: center;
  margin-top: 4%;
  height: fit-content;
  width: 50%;
  padding: 0 5%;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .projects .projects-content .project {
    width: 100%;
    padding: 0 2rem;
    margin: 4% 0 0;
  }
}
html body .projects .projects-content .project .projects-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1%;
}
html body .projects .projects-content .project h3 {
  margin-top: 6px;
}
html body .projects .projects-content .project p {
  margin: 10% 0;
  font-size: 1.25em;
}
@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  html body .projects .projects-content .project p {
    font-size: 1em;
  }
}
html body .projects .projects-content .project.no-mobile {
  position: relative;
}
html body .projects .projects-content .project.no-mobile::before {
  content: " ";
  width: 1px;
  height: 80%;
  background: white;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 10%;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
