$mobile-width: 700px;
$height-break: 800px;
$background: #1f1f1f;

.mobile {
  display: none !important;
}

@media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
  .mobile {
    display: flex !important;
  }
}

@media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
  .no-mobile {
    display: none !important;
  }
}

html {
  height: 100%;
  overflow: hidden;

  body {
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: $background;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;

    @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
      scroll-snap-type: none;
    }

    a {
      color: #cafffb;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .impressum-container {
      display: inline;
      width: 60%;
      min-width: 400px;
      padding: 1rem;
    }

    .section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      scroll-snap-align: start;
      min-height: 100vh;
      width: 100%;

      @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
        padding: 0 2rem;
      }

      .profile-container {
        text-align: center;
        width: 60%;
        max-width: 600px;
        min-width: 400px;
        padding: 4% 1rem 0;
        height: 100%;

        @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
          margin: auto 0;
          height: fit-content;
        }

        @media only screen and (max-height: $height-break) {
          padding: 1rem;
        }

        .image-container {
          position: relative;
          max-width: 400px;
          margin: 0 auto;

          @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
            width: 80%;
          }

          #profile-pic {
            width: 100%;
            height: 100%;
            max-width: 400px;
            border-radius: 50%;
          }
        }

        .name {
          margin: 1vh 0;
          padding: 0;
          font-size: 2.2rem;
        }

        .information-box {

          .information-element {
            font-size: 1.4rem;
            padding: 0 0 0.5rem 0;

            img {
              width: 1.8rem;
              margin: 0 4px 0 0;
              padding: 0 2px 4px;
            }

            a {
              color: white;
              text-decoration: none;
            }
          }
        }

        hr {
          margin: 1vh 0;

          @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
            margin: 2vh 0;
          }
        }

        .social-media-row {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          img {
            height: 4rem;
            width: 4rem;
            fill: white;

            &:hover {
              border: transparent 2px solid;
            }
          }
        }
      }

      .projects-link {
        margin: 2%;

        @media only screen and (max-height: $height-break) {
          display: none;
        }
      }

      .footer {
        font-size: 15px;
        text-align: center;
        width: 100%;
        margin-bottom: 1%;
      }
    }

    .projects {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
        padding: 0;
      }

      .projects-content {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .project {
          text-align: center;
          margin-top: 4%;
          height: fit-content;
          width: 50%;
          padding: 0 5%;

          @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
            width: 100%;
            padding: 0 2rem;
            margin: 4% 0 0;
          }

          .projects-icon {
            width: 4rem;
            height: 4rem;
            margin-bottom: 1%;
          }

          h3 {
            margin-top: 6px;
          }

          p {
            margin: 10% 0;
            font-size: 1.25em;

            @media only screen and (max-device-width: $mobile-width) and (orientation: portrait) {
              font-size: 1em;
            }
          }
        }

        .project.no-mobile {
          position: relative;
          &::before {
            content: ' ';
            width: 1px;
            height: 80%;
            background: white;
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 10%;
            left: 0;
          }
        }
      }
    }

  }
}
